.table {
    border: 1px solid #000;
    padding: 1px;
    margin: auto;
    width: 70%;

}

.student-row{
    border: 1px dot-dash #f00;
    flex-direction: row;
    display: flex;
}

.student-cell{
    display: flex;
    width: 11%;
}
.header-row{
    border: 2px solid #000;
    font: 16px bold;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.header-cell{
    background-color: lightgray;
    display: flex;
    width: 11%;
}
.actions-cell{
    display: flex;
    background-color: darkgrey;
    width: 23%;
}